    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Status: 
               <select name = "status">
                    <% caseStatus.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Priority: 
               <select name = "priority">
                    <% casePriority.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Origin: 
               <select name = "origin">
                    <% caseOrigin.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Request Type: 
               <select name = "request_type">
                    <% caseRequestType.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Case Type: 
               <select name = "case_type">
                    <% caseType.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Department: 
               <select name = "department">
                    <% departments.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown.id %>"><%= dropdown.department_name %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Assigned To: 
               <select required name = "assigned">
                    <% departments.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown.id %>"><%= dropdown.department_name %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Subject: 
            <input type="text" name="subject" placeholder="Enter Case Subject here..." value="">
            <br><br>
            Description: 
            <textarea name="description" placeholder="Enter Case Description here..."></textarea>
            <br><br>
            Primary Contact Name: 
            <input type="text" name="contact_name" placeholder="Contact Name" value="">
            <br><br/>
            Contact Email: 
            <input type="email" name="contact_email" placeholder="Email" value="">
            <br><br/>
            Additional Information: 
            <textarea name="note" placeholder="Enter Additional Information here..."></textarea>
            <br><br>
               <input type="submit" value="Create Case"  >
             </form>

        </div>
    </div>
    