<!--begin::Portlet-->
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title"><%= title %></h3>
        </div>
    </div>

    <!--begin::Form-->
    <form enctype="multipart/form-data" name="createCase" class="kt-form kt-form--fit kt-form--label-right" onsubmit="submitCreateCase(event)" id="case_form">
        <div class="kt-portlet__body">
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Subject:</label>
                <div class="col-lg-3">
                    <input type="text" name="subject"required class="form-control" placeholder="Enter Case Subject">
                </div>
                <label class="col-lg-2 col-form-label">Description:</label>
                <div class="col-lg-3">
                    <textarea class="form-control" required name="description" placeholder="Enter Case Description here..."></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Contact Name:</label>
                <div class="col-lg-3">
                    <div class="kt-input-icon">
                        <input name="contact_name" required type="text" class="form-control" placeholder="Contact Name">
                    </div>
                </div>
                <label class="col-lg-2 col-form-label">Contact Email:</label>
                <div class="col-lg-3">
                    <div class="kt-input-icon">
                        <input name="contact_email" required type="email" class="form-control" placeholder="Contact Email">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Department:</label>
                <div class="col-lg-3">
                    <div class="kt-input-icon">
                        <select class="form-control" id="department" required name="department">
                            <option value="">Select</option>
                            <% departments.forEach(function(dropdown) { if(dropdown.department_name != 'Owner' && dropdown.department_name != 'Customer') { %>
                                <option  value="<%= dropdown.id %>"><%= dropdown.department_name %></option>
                            <% }}); %>
                        </select>
                    </div>
                </div>
                <label class="col-lg-2 col-form-label">Assign To:</label>
                <div class="col-lg-3">
                    <div class="kt-input-icon">
                        <select class="form-control" required name="assigned" id="user">
                            <option value="">Select Department First</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Case Type:</label>
                <div class="col-lg-3">
                    <div class="kt-radio-inline">
                        <% caseType.forEach(function(dropdown) { %>
                        <label class="kt-radio kt-radio--solid">
                                <input type="radio" required name="case_type" value="<%= dropdown %>"> <%= dropdown %>
                            <span></span>
                        </label>
                        <% }); %>
                    </div>
                </div>
                <label class="col-lg-2 col-form-label">Priority:</label>
                <div class="col-lg-3">
                    <div class="kt-input-icon">
                        <select class="form-control" required name="priority">
                            <option value="">Select</option>
                            <% casePriority.forEach(function(dropdown) { %>
                                <option  value="<%= dropdown %>"><%= dropdown %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Request Type:</label>
                <div class="col-lg-3">
                    <div class="kt-radio-inline">
                        <% caseRequestType.forEach(function(dropdown) { %>
                        <label class="kt-radio kt-radio--solid">
                                <input type="radio" required name="request_type" value="<%= dropdown %>"> <%= dropdown %>
                            <span></span>
                        </label>
                        <% }); %>
                    </div>
                </div>
                <label class="col-lg-2 col-form-label">Additional Note:</label>
                <div class="col-lg-3">
                    <textarea class="form-control" name="note" placeholder="Enter Additional Note"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Attach File:</label>
                <div class="col-lg-3">
                    <div class="kt-input-icon">
                        <input name="file" type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <!-- <button type="submit" class="btn btn-success" id="caseSubmitBtn">Submit</button> -->
                        <button type="submit" id="caseSubmitBtn" class="btn btn-success" data-ktwizard-type="action-submit">Create Case</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--end::Form-->
</div>
<script src="/assets/custom/case/createCase.js" type="text/javascript"></script>