<style>
	.css-serial {counter-reset: serial-number;}
	.css-serial td:first-child::before {
		counter-increment: serial-number;
		content: counter(serial-number);
	}
</style>
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <%= title %>
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Status:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select status" id="kt_form_status">
                                            <option value="">All</option>
                                            <% cases.caseData.caseStatus.forEach(function(status) { %>
                                                <option value="<%= status %>"><%= status %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Priority:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select priority" id="kt_form_status">
                                            <option value="">All</option>
                                            <% cases.caseData.casePriority.forEach(function(priority) { %>
                                                <option value="<%= priority %>"><%= priority %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-form__group kt-form__group--inline">
                                    <div class="kt-form__label">
                                        <label>Department:</label>
                                    </div>
                                    <div class="kt-form__control">
                                        <select class="form-control bootstrap-select" id="kt_form_type">
                                            <option value="">All</option>
                                            <% departments.forEach(function(department) { %>
                                                <option value="<%= department.department_name %>"><%= department.department_name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <table class="kt-datatable" id="html_table" width="100%">
                <thead>
                    <tr>
                        <th title="Field #1">Case No.</th>
                        <th title="Field #2">Subject</th>
                        <th title="Field #4">Department</th>
						<th title="Field #5">Status</th>
						<th title="Field #6">Priority</th>
                        <th title="Field #7">Actions</th>
                        <th title="Field #8"></th>
                    </tr>
                </thead>
                <tbody>
                    <% cases.casemanagers.forEach(function(casei) { %>
                        <tr>
                            <td><%= casei.id %></td>
							<td><%= casei.subject %></td>
							<td><%= casei.Department.department_name %></td>
							<td><%= casei.status %></td>
							<td><%= casei.priority %></td>

                            <td>
								<span>
									<a href="/case/<%= casei.id %>/details" class="btn btn-clean btn-sm btn-icon btn-icon-md">
										<i class="la la-eye"></i>
									</a>
									<a href="/case/<%= casei.id %>/update" class="btn btn-clean btn-sm btn-icon btn-icon-md">
										<i class="la la-edit"></i>
									</a>
									<% if(casei.status != 'Closed'){ %>
										<a href="#" class="kt-nav__link active" data-toggle="dropdown" aria-expanded="true" role="tab">
											<span class="kt-nav__link-text">Status</span>
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<% cases.caseData.caseStatus.forEach(function(status) { if(status != 'Closed') { %>
												<a class="dropdown-item" onclick="submitStatus(event, '<%= casei.id %>', '<%= status %>')"><i class="la la-edit"></i> <%= status %></a>
											<% } else { %>
												<a class="dropdown-item" data-toggle="modal" data-target=".status<%= casei.id %>"><i class="la la-edit"></i> <%= status %></a>
											<% }}); %>
										</div>
									<% } else if(casei.status == 'Closed' && casei.assigned_to == user.id) { %>
										<a class="" onclick="submitStatus(event, '<%= casei.id %>', 'New')"> Reopen</a>
									<% } %>
								</span>
							</td>
							<!--begin::Modal-->
							<div class="modal fade status<%= casei.id %>" id="kt_select2_modal" role="dialog" aria-labelledby="" aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="">Close Case</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true" class="la la-remove"></span>
											</button>
										</div>
										<form class="kt-form kt-form--fit kt-form--label-right" onsubmit="closedStatus(event, '<%= casei.id %>')" id="status_form<%= casei.id %>">
											<div class="modal-body">
												<div class="form-group row">
													<label class="col-lg-3 col-form-label">Reason:</label>
													<div class="col-lg-8">
														<div class="kt-input-icon">
															<select class="form-control" required name="reason">
																<option>Select a Reason</option>
																<option value="Resolved">Resolved</option>
																<option value="Abandoned">Abandoned</option>
																<option value="Known Issues">Known Issues</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-form-label col-lg-3 col-sm-12">Solution No.</label>
													<div class="col-lg-8 col-md-9 col-sm-12">
														<select class="form-control kt-select2" id="kt_select2_1_modal" name="sol_no">
															<option></option>
															<% cases.solutions.forEach(function(dropdown) { %>
																<option value="<%= dropdown.solution_number %>"><%= dropdown.solution_number %></option>
															<% }); %>
														</select>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-brand" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-secondary">Submit</button>
											</div>
										</form>
									</div>
								</div>
							</div>
	
							<!--end::Modal-->
						</tr>
                    <% }) %>
                </tbody>
            </table>

            <!--end: Datatable -->
        </div>
    </div>
</div>
<!-- end:: Content -->
<script src="/assets/custom/case/updateStatus.js" type="text/javascript"></script>
<script src="/assets/custom/case/closedStatus.js" type="text/javascript"></script>