
						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="kt-portlet">
								<div class="kt-portlet__body kt-portlet__body--fit">
									<div class="kt-wizard-v3" id="kt_wizard_v3" data-ktwizard-state="step-first">

										<!--begin:Nav -->
										<div class="kt-wizard-v3__nav">
											<div class="kt-wizard-v3__nav-line"></div>

											<!--doc: Remove "kt-wizard-v1__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
											<div class="kt-wizard-v3__nav-items kt-wizard-v3__nav-items--clickable">

												<!--doc: Replace A tag with SPAN tag to disable the step link click -->
												<div class="kt-wizard-v3__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
													<span>1</span>
													<i class="fa fa-check"></i>
													<div class="kt-wizard-v3__nav-label">Case Type</div>
												</div>
												<div class="kt-wizard-v3__nav-item" data-ktwizard-type="step">
													<span>2</span>
													<i class="fa fa-check"></i>
													<div class="kt-wizard-v3__nav-label">Request Type</div>
												</div>
												<div class="kt-wizard-v3__nav-item" data-ktwizard-type="step">
													<span>3</span>
													<i class="fa fa-check"></i>
													<div class="kt-wizard-v3__nav-label">Case Details</div>
												</div>
												<div class="kt-wizard-v3__nav-item" data-ktwizard-type="step">
													<span>4</span>
													<i class="fa fa-check"></i>
													<div class="kt-wizard-v3__nav-label">Contacts</div>
												</div>
												<div class="kt-wizard-v3__nav-item" data-ktwizard-type="step">
													<span>5</span>
													<i class="fa fa-check"></i>
													<div class="kt-wizard-v3__nav-label">Finalize</div>
												</div>
											</div>
										</div>

										<!--end:Nav -->

										<!--begin:Form-->
                                        <form enctype="multipart/form-data" name="createCase" class="kt-form kt-form--fit kt-form--label-right" onsubmit="submitCreateCase(event)" id="kt_form">

											<!--begin:Step 1-->
											<div class="kt-wizard-v3__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
												<div class="kt-heading kt-heading--md">Case Type</div>
												<div class="kt-separator kt-separator--height-xs"></div>
												<div class="kt-form__section kt-form__section--first">
													<div class="form-group">
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label"></label>
                                                                <div class="col-lg-6">
                                                                    <div class="kt-radio-inline">
																		<% caseType.forEach(function(dropdown) { %>
																		<label class="kt-radio kt-radio--solid">
																				<input type="radio" required name="case_type" value="<%= dropdown %>" onclick="handleClick(this);"> <%= dropdown %>
																			<span></span>
																		</label>
																		<% }); %>
																	</div>
                                                                </div>
                                                            </div>
														</div>
													</div>
												</div>
											</div>

											<!--end:Step 1-->

											<!--begin:Step 2-->
											<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-heading kt-heading--md" id="">Request Type</div>
													<div class="form-group" id="request_type">
                                                        <!-- <div class="kt-radio-inline" id="request_type">

                                                        </div> -->
													</div>
												</div>
											</div>

											<!--end:Step 2-->

											<!--begin:Step 3-->
											<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
												<div class="kt-heading kt-heading--md">Case Details</div>
												<div class="kt-separator kt-separator--height-xs"></div>
												<div class="kt-form__section kt-form__section--first">
													<div class="row">
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Subject:</label>
                                                                <div class="col-lg-6">
                                                                    <input type="text" name="subject"required class="form-control" placeholder="Enter Case Subject">
                                                                </div>
                                                            </div>
														</div>
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Description:</label>
                                                                <div class="col-lg-6">
                                                                    <textarea class="form-control" required name="description" placeholder="Enter Case Description here..." rows="5"></textarea>
                                                                </div>
                                                            </div>
														</div>
													</div>
													<div class="row">
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Priority:</label>
                                                                <div class="col-lg-6">
                                                                    <div class="kt-input-icon">
                                                                        <select class="form-control" required name="priority">
                                                                            <option value="">Select</option>
                                                                            <% casePriority.forEach(function(dropdown) { %>
                                                                                <option  value="<%= dropdown %>"><%= dropdown %></option>
                                                                            <% }); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
														</div>
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">SLA Violation:</label>
                                                                <div class="col-lg-6">
                                                                    <div class="kt-radio-inline">
                                                                        <label class="kt-radio kt-radio--solid">
                                                                                <input type="radio" required name="SLA_violation" value="No" checked> No
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="kt-radio kt-radio--solid">
                                                                                <input type="radio" required name="SLA_violation" value="Yes"> Yes
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
														</div>
													</div>
												</div>
											</div>

											<!--end:Step 3-->

											<!--begin:Step 4-->
											<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-heading kt-heading--md">Contact Details</div>
													<div class="row">
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Contact Name:</label>
                                                                <div class="col-lg-6">
                                                                    <input name="contact_name" required type="text" class="form-control" placeholder="Contact Name">
                                                                </div>
                                                            </div>
														</div>
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Contact Email:</label>
                                                                <div class="col-lg-6">
                                                                    <input name="contact_email" required type="email" class="form-control" placeholder="Contact Email">
                                                                </div>
                                                            </div>
                                                        </div>
													</div>
													<div class="kt-heading kt-heading--md">Personnel In-Charge</div>
													<div class="row">
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Department:</label>
                                                                <div class="col-lg-6">
                                                                    <div class="kt-input-icon">
                                                                        <select class="form-control" id="department" required name="department">
                                                                            <option value="">Select</option>
                                                                            <% departments.forEach(function(dropdown) { if(dropdown.department_name != 'Owner' && dropdown.department_name != 'Customer') { %>
                                                                                <option  value="<%= dropdown.id %>"><%= dropdown.department_name %></option>
                                                                            <% }}); %>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
														</div>
														<div class="col-xl-12">
                                                            <div class="form-group row">
                                                                <label class="col-lg-3 col-form-label">Assign To:</label>
                                                                <div class="col-lg-6">
                                                                    <div class="kt-input-icon">
                                                                        <select class="form-control" required name="assigned" id="user">
                                                                            <option value="">Select Department First</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
														</div>
													</div>
												</div>
											</div>

											<!--end:Step 4-->

											<!--begin:Step 5-->
											<div class="kt-wizard-v3__content" data-ktwizard-type="step-content">
												<div class="kt-form__section kt-form__section--first">
													<div class="kt-heading kt-heading--md">Optional</div>
													<div class="form-group">
														<div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Attach File:</label>
                                                                    <div class="col-lg-6">
                                                                        <div class="kt-input-icon">
                                                                            <input name="file" type="file" multiple class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12">
                                                                <div class="form-group row">
                                                                    <label class="col-lg-3 col-form-label">Additional Note:</label>
                                                                    <div class="col-lg-6">
                                                                        <textarea class="form-control" name="note" placeholder="Enter Additional Note" rows="5"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
														</div>
													</div>
												</div>
											</div>

											<!--end:Step 5-->

											<!--begin:Form Actions -->
											<div class="kt-form__actions">
												<div class="btn btn-outline-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-prev">
													Previous
												</div>
												<button type="submit" class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-submit" id="caseSubmitBtn">
													Submit
                                                </button>
												<div class="btn btn-brand btn-md btn-tall btn-wide btn-bold btn-upper" data-ktwizard-type="action-next">
													Next Step
												</div>
											</div>

											<!--end:Form Actions -->
										</form>

										<!--end:Form-->
									</div>
								</div>
							</div>
						</div>

						<!-- end:: Content -->
<script src="/assets/custom/case/createCase.js" type="text/javascript"></script>
<script>
    function handleClick(case_type) {
        if (case_type.value == 'Support'){
			document.getElementById('request_type').innerHTML = `
			<div class="col-xl-12">
				<div class="form-group row">
					<label class="col-lg-3 col-form-label"></label>
					<div class="col-lg-6">
						<div class="kt-radio-inline">
							<label class="kt-radio kt-radio--solid">
								<input type="radio" checked required name="request_type" value="Issues"> Issues
								<span></span>
							</label>
							<label class="kt-radio kt-radio--solid">
									<input type="radio" disabled required name="request_type" value="Complaints"> Complaints
								<span></span>
							</label>
						</div>
					</div>
				</div>
			</div>`;
        } else {
			document.getElementById('request_type').innerHTML = `
			<div class="col-xl-12">
				<div class="form-group row">
					<label class="col-lg-3 col-form-label"></label>
					<div class="col-lg-6">
						<div class="kt-radio-inline">
							<label class="kt-radio kt-radio--solid">
								<input type="radio" equired name="request_type" value="Issues"> Issues
								<span></span>
							</label>
							<label class="kt-radio kt-radio--solid">
									<input type="radio" required name="request_type" value="Complaints"> Complaints
								<span></span>
							</label>
						</div>
					</div>
				</div>
			</div>`;
        }
	}
</script>