    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Status: 
               <select name = "user_id">
                    <% caseStatus.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Priority: 
               <select name = "user_id">
                    <% casePriority.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Origin: 
               <select name = "user_id">
                    <% caseOrigin.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Request Type: 
               <select name = "user_id">
                    <% caseRequestType.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Case Type: 
               <select name = "user_id">
                    <% caseType.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown %>"><%= dropdown %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Department: 
               <select name = "user_id">
                    <% departments.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown.id %>"><%= dropdown.department_name %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Assigned To: 
               <select name = "user_id">
                    <% departments.forEach(function(dropdown) { %>
                    <option  value="<%= dropdown.id %>"><%= dropdown.department_name %></option>
                <br/>
               <% }); %>
                </select>
            <br><br>
            Subject: 
            <textarea name="subject">Enter Case Subject here...</textarea>
            <br><br>
            Description: 
            <textarea name="description">Enter Case Description here...</textarea>
            <br><br>
            Primary Contact Name: 
            <input type="text" name="contact_name" placeholder="Contact Name" value="">
            <br><br/>
            Email: 
            <input type="email" name="email" placeholder="Email" value="">
            <br><br/>
            Additional Information: 
            <textarea name="note">Enter Additional Information here...</textarea>
            <br><br>
               <input type="submit" value="Create Post"  >
             </form>

        </div>
    </div>
    