 <div class="col-sm-8">    
        <div class="">
            <ol>
            <% casemanagers.forEach(function(casemanager) { %>
                    <li>
                        <h4><a href="/casemanager/<%= casemanager.id %>"><%= casemanager.subject %></a></h4>
                        <p>The status of the Case: <%= casemanager.status %> <br/>
                        </p>
                         <a href="/casemanager/<%= casemanager.id %>/update">Edit Case</a> | <a href="/casemanager/<%= casemanager.id %>/delete">Delete Case</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
        <a href="/casemanager/create"> CLICK HERE TO CREATE CASE</a>
    </div>