<div class="row"><!--begin::Row-->
    <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Cases in the Business</h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="kt-widget-19">
                    <div class="kt-widget-19__title">
                        <div class="kt-widget-19__label"><%= dash.businesses %> </div>
                        <img class="kt-widget-19__bg" src="assets/media/misc/iconbox_bg.png" alt="bg" />
                    </div>
                    <div class="kt-widget-19__data">
                        <!-- Doc: For the chart bars you can use state helper classes: kt-bg-success, kt-bg-info, kt-bg-danger. Refer: components/custom/colors.html -->
                        <div class="kt-widget-19__chart">
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.today_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="today: <%= dash.today_len %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.yesterday_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="yesterday: <%= dash.yesterday_len %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.two_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="2 days ago: <%= dash.two_len %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.three_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="3 days ago: <%= dash.three_len %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.four_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="4 days ago: <%= dash.four_len %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.five_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="5 days ago: <%= dash.five_len %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.six_len %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="6 days ago: <%= dash.six_len %>%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="kt-portlet__head kt-portlet__head--noborder">
                <span class="kt-portlet__head-label">
                    <a href="/case/cases" class="kt-portlet__head-title">View Details <i class="flaticon2-right-arrow"></i></a>
                </span>
            </span>
        </div>
    
        <!--end::Portlet-->
    
    </div>
    <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Cases in the Department</h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="kt-widget-19">
                    <div class="kt-widget-19__title">
                        <div class="kt-widget-19__label"><%= dash.departments %> </div>
                        <img class="kt-widget-19__bg" src="assets/media/misc/iconbox_bg.png" alt="bg" />
                    </div>
                    <div class="kt-widget-19__data">
                        <!-- Doc: For the chart bars you can use state helper classes: kt-bg-success, kt-bg-info, kt-bg-danger. Refer: components/custom/colors.html -->
                        <div class="kt-widget-19__chart">
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.today_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="today: <%= dash.today_len_dept %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.yesterday_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="yesterday: <%= dash.yesterday_len_dept %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.two_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="2 days ago: <%= dash.two_len_dept %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.three_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="3 days ago: <%= dash.three_len_dept %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.four_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="4 days ago: <%= dash.four_len_dept %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.five_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="5 days ago: <%= dash.five_len_dept %>%"></div>
                            </div>
                            <div class="kt-widget-19__bar">
                                <div class="kt-widget-19__bar-<%= dash.six_len_dept %>" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="6 days ago: <%= dash.six_len_dept %>%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span class="kt-portlet__head kt-portlet__head--noborder">
                <span class="kt-portlet__head-label">
                    <a href="/case/department" class="kt-portlet__head-title">View Details <i class="flaticon2-right-arrow"></i></a>
                </span>
            </span>
        </div>

        <!--end::Portlet-->
    </div>
    <div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head  kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Technologies</h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-toolbar-wrapper">
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-more-1"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                                <!--begin::Nav-->
                                <ul class="kt-nav">
                                    <li class="kt-nav__head">
                                        Export Options
                                        <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                                    </li>
                                    <li class="kt-nav__separator"></li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-drop"></i>
                                            <span class="kt-nav__link-text">Users</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                            <span class="kt-nav__link-text">Reports</span>
                                            <span class="kt-nav__link-badge">
                                                <span class="kt-badge kt-badge--danger">9</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-drop"></i>
                                            <span class="kt-nav__link-text">Statements</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                            <span class="kt-nav__link-text">Customer Support</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__separator"></li>
                                    <li class="kt-nav__foot">
                                        <a class="btn btn-label-brand btn-bold btn-sm" href="#">Proceed</a>
                                        <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                                    </li>
                                </ul>

                                <!--end::Nav-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fluid">
                <div class="kt-widget-21">
                    <div class="kt-widget-21__title">
                        <div class="kt-widget-21__label">9.3M</div>
                        <img src="assets/media/misc/iconbox_bg.png" class="kt-widget-21__bg" alt="bg" />
                    </div>
                    <div class="kt-widget-21__data">

                        <!--Doc: For the chart legend bullet colors can be changed with state helper classes: kt-bg-success, kt-bg-info, kt-bg-danger. Refer: components/custom/colors.html -->
                        <div class="kt-widget-21__legends">
                            <div class="kt-widget-21__legend">
                                <i class="kt-bg-brand"></i>
                                <span>HTML</span>
                            </div>
                            <div class="kt-widget-21__legend">
                                <i class="kt-shape-bg-color-4"></i>
                                <span>CSS</span>
                            </div>
                            <div class="kt-widget-21__legend">
                                <i class="kt-shape-bg-color-3"></i>
                                <span>Angular</span>
                            </div>
                        </div>
                        <div class="kt-widget-21__chart">
                            <div class="kt-widget-21__stat">+37%</div>

                            <!--Doc: For the chart initialization refer to "widgetTechnologiesChart" function in "src\theme\app\scripts\custom\dashboard.js" -->
                            <canvas id="kt_widget_technologies_chart" style="height: 110px; width: 110px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Portlet-->
    </div>
</div>
<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <%= title %>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">

        <!--begin: Search Form -->
        <div class="kt-form kt-fork--label-right kt-margin-t-20 kt-margin-b-10">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="row align-items-center">
                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__label">
                                    <label>Status:</label>
                                </div>
                                <div class="kt-form__control">
                                    <select class="form-control bootstrap-select" id="kt_form_status">
                                        <option value="">All</option>
                                        <option value="New">New</option>
                                        <option value="On Hold">On Hold</option>
                                        <option value="Escalated">Escalated</option>
                                        <option value="Working">Working</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__label">
                                    <label>Priority:</label>
                                </div>
                                <div class="kt-form__control">
                                    <select class="form-control bootstrap-select priority" id="kt_form_type">
                                        <option value="">All</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                    <a href="#" class="btn btn-default kt-hidden">
                        <i class="la la-cart-plus"></i> New Order
                    </a>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                </div>
            </div>
        </div>

        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--fit">

        <!--begin: Datatable -->
        <div class="kt_datatable" id="base_translation"></div>

        <!--end: Datatable -->
    </div>
</div>
