<style>
	.css-serial {counter-reset: serial-number;}
	.css-serial td:first-child::before {
		counter-increment: serial-number;
		content: counter(serial-number);
	}
</style>
<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <%= title %>
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button data-toggle="modal" data-target="#create" class="btn btn-brand btn-bold btn-upper btn-font-sm" aria-haspopup="true" aria-expanded="false">
                        <i class="la la-plus"></i>
                        New Category
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Create Category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!--begin::Form-->
                                    <form class="kt-form kt-form--fit kt-form--label-right" onsubmit="submitCreateCategory(event)" id="category_form">
                                        <div class="form-group">
                                            <input type="text" name="category_name" required class="form-control" placeholder="Enter category name">
                                        </div>
                                    <!--end::Form-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-outline-brand" id="categorySubmitBtn">Submit</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">

            <!--begin: Search Form -->
            <div class="kt-form kt-fork--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row align-items-center">
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">

            <!--begin: Datatable -->
            <table class="kt-datatable" id="html_table" width="100%">
                <thead>
                    <tr>
                        <th title="Field #1">Name</th>
                        <th title="Field #5">Actions</th>
                        <th title="Field #5"></th>
                    </tr>
                </thead>
                <tbody>
                    <% categories.forEach(function(category) { %>
                        <tr>
                            <td><%= category.category_name %></td>
                            <td>
                                <span>
                                    <button data-toggle="modal" data-target="#detail<%= category.id %>" class="btn btn-clean btn-sm btn-icon btn-icon-md" aria-haspopup="true" aria-expanded="false">
                                        <i class="la la-edit"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="detail<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Create Category</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form class="kt-form kt-form--fit kt-form--label-right" onsubmit="submitUpdateCategory(event, '<%= category.id %>')" id="category_form<%= category.id %>">
                                                    <div class="modal-body">
                                                        <!--begin::Form-->
                                                            <div class="form-group">
                                                                <input type="text" name="category_name" required class="form-control" placeholder="Enter category name" value="<%= category.category_name %>">
                                                            </div>
                                                        <!--end::Form-->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-outline-brand" id="categorySubmitBtn<%= category.id %>">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <button onclick="deleteCategory(event, '<%= category.id %>')" class="btn btn-clean btn-sm btn-icon btn-icon-md">
                                        <i class="la la-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <!--end: Datatable -->
        </div>
    </div>
</div>

<!-- end:: Content -->
<script src="/assets/custom/category/createCategory.js" type="text/javascript"></script>
<script src="/assets/custom/category/updateCategory.js" type="text/javascript"></script>
<script src="/assets/custom/category/deleteCategory.js" type="text/javascript"></script>